/* Designer credit: https://dribbble.com/shots/1978243-Latest-News */

body, html {
  overflow-x: hidden;
}

.app-header {
  display:block;
  padding: 30px;
}

.app-title {
  display:inline;
  width: 100%;
  margin: 80px 0 0 30px;
  //float:left;
  position:relative;
  color:#fff;
  /*
  @media(min-width:768px) {
    width: 20%;
    margin: 280px 0 0 0;
  }
  */
  h1 {
    font-size: 52px;
    margin: 0;
  }
  
  p {
    font-weight: 200;
    opacity: .5;
  }
  
}

.app-title-content {
  display:inline-block;
  position:relative;
  //top:50%;
  //left: 50%;
  //width:100%;
  //text-align:center;
  //transform:translate(-50%, -50%);
  /*
  @media(min-width:768px) {
    width:auto;
    position:absolute;
    text-align:left;
  }
  */
}

.app-card-list {
  //position:bottom;
  //display:inline-block;
  //width:100%;
  //float:right;
  //margin:0;
  //min-height: 75vh;
  //white-space:normal;
  //overflow-x: scroll;
  //margin-top:-70px;
  
  &::-webkit-scrollbar { 
    display: none; 
  }
  
  /*
  @media(min-width:768px) {
      width:80%;
      white-space:nowrap;
      margin-top: 0;
  }
  */
  .card {
    margin: 60px 30px;
    display: inline-block;
    
    .card-body {
        white-space: normal;
    }
  }
}

.designer-link {
  //display:inline-block;
  padding-top:40px;
  display:inline;

}

.tile-p {
  display:inline;

}

.card_single {
  margin: 60px 30px;
  display: block;
  
  .card-body {
      white-space: normal;
  }
}

.hearder_image{
  margin: auto;
  display: block;
}

.rating_position{
  margin: auto;
  display: block;
}

.list_content {
  padding-bottom: 10px;
  font-size: 13px;
}